body{
    font-size: 25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 15vh;
    background-color: brown;

}.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}.navbar li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}.navbar h1{
    color:white;
}.navbar a{
    color:white;
    text-decoration: none;

}.navbar a:hover{
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
    color:black;
}