body{
    font-size: 25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 60px;
    background-color: blueviolet;

}.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}.navbar li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}.navbar h1{
    color:white;
}.navbar a{
    color:white;
    text-decoration: none;

}.navbar a:hover{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(30, 206, 36);
    color:black;
}.hero{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    color:white;
    background-color: blue;
    align-items: center;
    margin-top: 15px;
}
.hero h2{
color:white;
font-size:40px;

}.container{
    display: grid;
    display: flex;
    justify-content: center;    
    grid-template-columns: 1fr 1fr 1fr;
    


}.calisma-card{
 
    height: 50px;
  margin-left: 10px;
}img{
    border-radius: 10px;
}.hizmetlerim container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
}
.services{
    width: 33%;
    height: 30px;
    margin-left: 120px;
}.hizmetlerim{
    margin-top: 500px;
}.adi-soyadi{
    width: 100%;
}
.adi-soyadi-input{
    width: 50%;
    
    font-size: 20px;
    border-radius: 10px;

}.iletisim{
    margin-top: 600px;
    width: 100%;
    height: 120px;
    text-align: center;
    
}.email{
   width: 100%;
    text-align: center;
}.email-input{
     width: 50%;
    border-radius: 10px;
    font-size: 20px;
}.message{
    width: 100%;
}
textarea{
    width: 50%;
    font-size: 20px;
    
}button{
    width: 20%;
    height: 25px;
    font-size: 15px;
    background-color: blue;
    color:white;
    border-radius: 10px;
}